.site-header
  color: white
  border-bottom: 2px solid white
  &:before
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    content: ''
    background-color: rgba(desaturate($Primary, 10), 0.9)

  .navbar-brand
    @extend h3
    margin: 0 0 0 0
    padding: 0
    color: white
    transition: all 0.3s ease

  &.top
    .navbar-brand
      margin: 0 0 0 1rem
      @extend h2
