@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@utility no-scrollbar::-webkit-scrollbar {
  display: none;
}