.site-header
  color: $Primary
  border-bottom: 3px solid $Primary

  img
    max-width: 4rem
    max-height: 4rem
    border-radius: 2rem
    padding: 0.25rem
  &:before
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    content: ''
    background-color: white
  .navbar-brand
    @extend h3
    margin: 0 0 0 0
    padding: 0
    transition: all 0.3s ease
    text-decoration: none
//   &.top
//     .navbar-brand
//       transform: scale(1.5)
//       padding: 0.5rem 0
//       transform-origin: center left
