$grid-margin: 15px;
.grid-sizer {
  width: 100%;
  @include media-breakpoint-up(md) {
    width: 100%;
  }
  @include media-breakpoint-up(lg) {
    width: calc(50% - 30px);
  }
  @include media-breakpoint-up(xl) {
    width: calc(25% - 30px);
  }
}

.blog {
  @extend .container;
  &-wrap {
    @extend .row;
    &-title {
      @extend .col-12;
      padding: 1rem 0;
      text-align: center;
      h2 {
        font-family: "Limelight", cursive !important;
        color: black;
        text-shadow: 3px 2px 2px gold;
      }
    }
    &-grid {
      @extend .col-12;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0;
      margin: 0 -15px;
      max-width: calc(100% + 30px);
      width: calc(100% + 30px);
      flex: 0 0 auto;
      .grid-item {
        @extend .grid-sizer;
        margin: $grid-margin;
        position: relative;
        transition: all 0.6s ease;
        border: 4px solid black;
        min-height: 300px;
        a {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          text-align: center;
          text-decoration: none;
          background-color: white;
          h3 {
            display: block;
            width: 100%;
            padding: 15px;
            margin: 0;
            text-align: center;
            color: black;
            // z-index: 2;
            background-color: gold;
            font-size: 1.5rem;
            border-top: 2px solid black;
            transition: text-decoration 0.3s;
          }
          img {
            display: block;
            background-color: white;
            width: 100%;
            flex-grow: 1;
            object-fit: cover;
          }
        }
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: white;
          z-index: -1;
          transition: all 0.3s;
          border: 4px solid black;
        }
        &:hover {
          &:before {
            transform: translate(-1rem, -1rem);
          }
          h3 {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
