.contact {
    padding: 1rem 3rem;
    svg {
      width: 100px;
      height: 100px;
      position: absolute;
      top: -4px;
      left: -4px;
      g {
        fill: black;
      }
    }

    &-list {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        flex-direction: column;
        a {
          display: block;
          width: 100%;
          padding: 1rem;
          border: 2px solid black;
          margin-bottom: 15px;
          text-align: center;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
    }
}
