{%include header.html %}

<body>
    <div id="page" class="site">
        {% include top-nav.html %}

        <div id='home' class='container'>

            {{ content }} {% include contact.html %}
        </div>
        <!-- #content -->

        {% include footer.html %}

    </div>
    <!-- #page -->

    <script src='{{ "/assets/theme.js" | absolute_url }}'></script>
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "bc20d25648804d78b15bf627d1b8161e"}'></script>

</body>

</html>