---
layout: default
---
<article class='post my-5'>
  <div class='row justify-content-center align-items-center'>
    <div class='col-md-4 text-center'>
      <img class='img-fluid rounded w-100' src='{{page.thumbnail}}'>
    </div>
    <div class='col text-center'>
      <h1 class="fancy-title">{{page.title}}</h1>
    </div>
  </div>

  <div class='row py-4'>
    <div class='col'>
      {{page.content}}
    </div>
  </div>
  <div class='row'>
    <div class='col-6'>
      <a href='/' rel='home'>« Return Home</a>
    </div>
    <div class='col-6 text-right'>
      <small class=''>
        Posted: {{page.date | date: "%a, %b %d, %Y"}}
      </small>
    </div>
  </div>
</article>
<hr>

{% assign counter = site.posts | size %}

{% if counter > 0  %}
<h2 class='fancy-title'>{{site.blog.read_more}}</h2>
<section class='row my-5' id='portfolio'>
  <div class='col-12'>
    <div class='grid'>
      {% for post in site.posts %}
      {% include grid-item.html title=post.title url=post.url thumbnail=post.thumbnail %}
      {% endfor %}
    </div>
  </div>
</section>
<hr>
{%endif%}