name: Test

on:
  pull_request:
    branches:
      - 'staging'
      - 'main'
  workflow_dispatch:
  
permissions:
  contents: write
  pull-requests: write
  checks: write
  issues: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
      - name: Install dependencies
        run: pnpm install
      - name: Install Playwright
        run: pnpx playwright install --with-deps
      - name: Build Storybook
        run: pnpm run build:storybook --quiet
      - name: Serve Storybook and run tests
        run: |
          pnpx concurrently -k -s first -n "SB,TEST" -c "magenta,blue" \
            "pnpx http-server storybook-static --port 6006 --silent" \
            "pnpx wait-on tcp:6006 && pnpx run test:ci"
